<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pets</title>
</head>
<body>
    
    <h1>All the Pets!</h1>
    <p>ID     Name    Type</p>
    
    
    <!-- {{session['count']}}      -->
    {% for one_pet in all_pets %}
    <p>{{id}}     {{one_pet["name"]}}       {{one_pet["type"]}}</p>
    {% endfor %}
    
    <h2>Add a Pet</h2>
    <form action="/create" method="POST">
        <p>Name <input type="text" name="pname"></p>
        <p>Type <input type="text" name="ptype"></p>
        <p><input type="submit" value="Add" name=""></p>
    </form>
</body>
</html>